* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.hero {
  background-image: url(./assets/FotoByN_H.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  width: 100%;
  background-color: #949494;
  text-align: center;
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: center;
}

.hero-title {
  position: absolute;
  align-self: center;
  font-weight: inherit;
}

.aboutMe {
  height: 450px;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: black;
}

.aboutMe-text {
  grid-column: 2;
  font-size: 20px;
  text-align: right;
  line-height: 35px;
  margin: 100px 80px 100px 10px;
  letter-spacing: 1px;
  color: white;
}

.quotes {
  height: 400px;
}

/* -----------------------------------------portfolio*/
.portfolio,
.funFacts {
  padding: 20px;
  background-color: black;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.container-title {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.containerFacts-title {
  font-size: 50px;
  margin-top: 50px;
  color: white;
}

.project,
.facts {
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description,
.facts-description {
  font-size: 20px;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details,
.facts-details {
  width: 500px;
}

.project-imageContainer,
.facts-imageContainer {
  width: 500px;
  display: flex;
  justify-content: center;
}

figure {
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.quote {
  background-color: black;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  color: white;
}

.quote-text {
  font-size: 70px;
}

/*------------------------------------------------- Contact */

.social {
  background-color: black;
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
  padding-right: 40px;
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  color: white;
}

.social-link.linkedin {
  background-image: url("../assets/linkedin.png");
}
.social-link.github {
  background-image: url("../assets/github.svg");
}
.social-link.resume {
  background-image: url("../assets/resume.png");
  color: white;
}


.formInfo-container {
 display: flex;
 background-color: black;
 width: 100%;
 justify-content: space-evenly;
 align-items: center;
 height: 330px;
}

.formInfo-p{
    color: white;
    margin-bottom: 15px;
}

.formEmail-textArea, .formName-textArea, .formMessage-textArea{
    border-radius: 10px;
    height: 40px;
    border: solid;
    padding: 7px 20px 5px 25px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.formEmail-textArea{
    background-image: url("../assets/envelope.jpg");
}

.formName-textArea{
    background-image: url("../assets/user.png");
}

.formMessage-textArea{
    height: 80px;
}


.formInfo-input{
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    margin-left: 3px;
}

.formInfo-input:hover{
    background-color: white;
    color:black;
}

/*------------------------------------------------- BucketList */
.bucketList-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.bucketList-container h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bucketList-container p{
    font-size: 30px;

    margin-bottom: 20px;
}

.bucketList-container button{
    font-size: 20px;
    margin-bottom: 20px;
    background: transparent;
    padding: 10px 0;
    border-radius: 5px;
    width: 200px;

}

.whiteButton:hover{
  background-color: #949494;
  color: white;
}

#message-container{
    font-size: 25px;
    margin-bottom: 20px;
}

/*------------------------------------------------- usersNameList */
.usersNameList{
    background-color: white;
}

.usersNameList-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
}

.user{
    font-size: 25px;
    margin-bottom: 10px;
}

.usersNameList-container h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.usersNameList-container button{
    font-size: 20px;
    margin-bottom: 20px;
    background: transparent;
    padding: 10px 0;
    border-radius: 5px;
    width: 200px;
    color:black;
    margin-top: 25px;
}

